    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    .q5wrapper {
     display: grid;
     grid-template-rows: repeat(3, 1fr);
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
     width: 100vw;
     height: 100vh;
    }
    .q5wrapper1{
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: 60vw;
      height: 100vh;
    }
    .q5wrapper2 {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 40vw;
    height: 100vh;
      }
    .column {
      border-radius: 2px;
      border-style: solid;
      border-color: azure;
      background-color: aquamarine;
    }
    .column_a{
  
      border-radius: 2px;
      border-style: solid;
      border-color: azure;
      background-color: aquamarine;
      grid-row: auto/ span 1;
      grid-column: auto / span 2;

    }
    .column_b {
  
      border-radius: 2px;
      border-style: solid;
      border-color: azure;
      background-color: aquamarine;
      grid-row: auto/ span 1;
      grid-column: auto / span 1;
    }

@media screen and (max-width: 650px) {
  
      .q5wrapper {
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 10px;
     width: 100vw;
     height: 100vh;
    }
    .q5wrapper1{
      grid-template-columns: repeat(1, 1fr);
      width: 100vw;
      height: 60vh;
    }
    .q5wrapper2 {
    width: 100vw;
    height: 40vh;
      }
  
      .column_a{
       grid-row: auto/ span 1;
        grid-column: auto/ span 1;

    }
    .column_b {
      grid-row: auto/ span 1;
      grid-column: auto/ span 1;
  }
}
